/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


p{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
}


a{
    text-decoration: none;
    display: inline-block;
}

a:hover{
    text-decoration: none;
}

button:focus {
	outline: 0;
}

.bg_cover{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.custom-container{
	padding: 0 70px;
}

.clr{
    clear: both;
}

body{
    overflow-x: hidden;
}

/*ALL SECTION TITLE HERE*/

.section_title{}

.section_title h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #000757;
	text-align: center;
}

.section_title span {
	display: inline-block;
	width: 200px;
	height: 2px;
	background: #eaeaea;
	position: relative;
	text-align: center;
	left: 25%;
}

.section_title span:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 5px;
    background: #0083ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

/*all buttons style here*/
.theme_btn {
	background: #0083ff;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s linear;
}

.theme_btn:hover{
	color: #fff;
}

/*END OF COMMON CSS*/



/*=========================
 HEADER AREA CSS START
===========================*/

/*HEADER-TOP CSS START*/
.header_top{
   background: #000757;
}

.header_text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0px;
}

.header_social {
	text-align: right;
	padding: 10px 0;
}

.header_social span a {
	margin: 0 10px;
	color: #fff;
	background: transparent;
	padding: 3px 8px;
	border-radius: 50%;
	border: 1px solid #fff;
	transition: all .3s linear;
}

.header_social span a:hover{
   background: #0083ff;
	border: 0;
	
}
/*HEADER-TOP CSS END*/

/*HEADER-INFO CSS START*/
.header_content {
	display: flex;
}

.logo_content {
	display: flex;
	justify-content: center;
	margin-left: auto;
	padding: 35px 0;
}

.logo_text span {
	display: inherit;
}

.logo {
	padding: 35px 0;
}

.logo_icon i {
	border: 1px solid #fff;
	padding: 10px 10px;
	border-radius: 50%;
	font-size: 30px;
   background: #f5f8ff;
   color: #0083ff;
}

.logo_text {
	padding-left: 20px;
}

.logo_text span {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
/*HEADER-INFO CSS END*/

/*HEADER-BOTTOM CSS START*/


.main_menu{
/*   text-align: center;*/
   background: #000757;
  color: #f5f8ff; 
}

.main_menu .navbar-nav{}

.dropdown-menu show{
 transition: all .3s linear;
}



.main_menu .navbar-nav .nav-item{}

.main_menu .navbar-nav .nav-item .nav-link{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   padding: 20px 0;
   padding-left: 35px;
 position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link::before {
	position: absolute;
	content: '';
	left: 60%;
	top: 0;
	transform: translateX(-50%);
	height: 5px;
	width: 0px;
	background: white;
	transition: all .3s linear;
}

.main_menu .navbar-nav .nav-item .nav-link:hover:before{
   width: 30px;
}

.search_bar {
	border: 0;
	background: transparent;
	color: white;
	padding: 20px 0px;
	padding-left: 40px;
}

/*HEADER-BOTTOM CSS END*/



/*=========================
 HEADER AREA CSS END
===========================*/




/*=========================
4.BANNER AREA CSS START
===========================*/
.banner_area{}

.slider_active{}

.single_slide{}

.single_slide .theme_btn{
   margin-top: 30px;
}

.banner_overlay{
    background: rgba(0, 7, 87, .6);
	width: 100%;
	height: 100%;
	display: flex;
}

.slider_content {
	padding: 245px 0;
}

.slider_content h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}


.slider_active .slick-dots {
	/* text-align: center; */
	position: relative;
	z-index: 99999999;
	margin-top: -55px;
	text-align: left;
	left: 9%;
}

.slider_active .slick-dots li{
	display: inline-block;
}

.slider_active .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000757;
	margin: 0 5px;
	border: 0;
	transition: all .3s linear;
}

.slider_active .slick-dots li.slick-active button {
	background: #0083ff;
	width: 15px;
	height: 15px;
}


/*=========================
4.BANNER AREA CSS END
===========================*/



/*=========================
5.ABOUT AREA CSS START
===========================*/
.about_wrap:before {
	position: absolute;
	content: '';
	width: 2px;
	height: 300px;
	background: #eaeaea;
	left: 105%;
	top: 8%;
}

.single_about{
/*	position: relative;*/
	display: flex;
}

.about_icon {
	padding-top: 10px;
}

.about_icon i {
	/* position: absolute; */
	padding: 14px 14px;
	border-radius: 50%;
	font-size: 14px;
	background: #000757;
	color: #fff;
	top: 10px;
	transition: all .3s linear;
}

.single_about:hover .about_icon i{
	background: #0083fd;
}

.about_text {
	padding-left: 30px;
}

.about_text h5 {
	font-size: 18px;
	color: #000757;
	text-transform: uppercase;
}

.about_text p {
	font-size: 14px;
	color: #666666;
}

.about_bussness h3 {
	font-size: 24px;
	color: #000757;
	text-transform: uppercase;
}

.about_bussness p {
	font-size: 14px;
	color: #666666;
}


/*=========================
 5.ABOUT AREA CSS END
===========================*/



/*=========================
6.SERVICE AREA CSS START
===========================*/

.service_part{
	background: #f5f8ff;
}

.single_service{
	
}

.service_icon {
	/* display: flex; */
	padding-left: 80px;
}

.service_icon i {
	background: #000757;
	margin-bottom: 30px;
	border-radius: 50%;
	padding: 12px 12px;
	color: #fff;
	transition: all .3s linear;
}

.single_service:hover .service_icon i{
	background: #0083fd;
}

.service_text h4 {
	font-size: 18px;
	color: #000757;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.service_text p {
	font-size: 14px;
	color: #666;
}

.service_btn {
	background-color: transparent;
	padding: 15px 25px;
	color: #000757;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #000757;
	margin-top: 20px;
	margin-left: 15%;
	transition: all .3s linear;
}

.single_service:hover .service_btn{
	background: #0083fd;
	border: 0;
	color: #fff;
}

/*=========================
6.SERVICE AREA CSS END
===========================*/




/*=========================
8.WORK AREA CSS START
===========================*/
work_area

.work_gal{}

.work_gal button {
	background-color: transparent;
	border: 0;
	font-size: 14px;
	margin-left: 10px;
	transition: all .3s linear;
	text-transform: uppercase;
	color: #000757;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #000757;
	padding: 15px 30px;
}

.work_gal button:nth-of-type(3){
	background: #0083ff;
	color: #fff;
	border: 0;
}

.work_gal button:hover{
   background: #0083ff;
	color: #fff;
	border: 0;	
}



.single_work{
	position: relative;
}

/*
.single_work .work_img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
*/

.single_work .work_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 7, 87, .6);
	opacity: 0;
	visibility: hidden;
	transition: all .3s linear;
}

.single_work:hover .work_overlay{
	opacity: 1;
	visibility: visible;
}

.single_work .work_overlay .work_text {
	position: absolute;
	left: 15%;
	top: 35%;
}

.single_work .work_overlay .work_text h6 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.single_work .work_overlay .work_text span {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Hind Siliguri', sans-serif;
}

.single_work .work_overlay .work_icon {
	position: absolute;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding-top: 10%;
	padding-left: 35%;
	/* z-index: 999999; */
}

.work_icon span i {
	display: inline-block;
	/* border: 1px solid red; */
	padding: 10px 10px;
	border-radius: 50%;
	background: #0083ff;
	color: #fff;
	transition: all .3s linear;
}


/*=========================
8.WORK AREA CSS END
===========================*/


/*=========================
9.COUNTER-UPAREA CSS START
===========================*/

.counter_up{
	position: relative;
}

.counter_overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 7, 87, .6);
}

.single_counter {
	text-align: center;
}

.count_social {
	padding-top: 80px;
	padding-bottom: 50px;
}

.count_social i {
	color: #fff;
	font-size: 35px;
	padding: 30px 30px;
	border-radius: 50%;
	background: #000757;
}

.counter {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.count h2 {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 80px;
	font-family: 'Montserrat', sans-serif;
}


/*=========================
9.COUNTER-UP AREA CSS END
===========================*/


/*=========================
10.TEAM AREA CSS START
===========================*/

.single_team {
	/* position: relative; */
	text-align: center;
	transition: all .3s linear;
	border: 1px solid #f1f1f1;
}

.single_team:hover {
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, .2);
	background: #f5f8ff;
}

.team_img {
	text-align: center;
	padding-top: 30px;
	
}

.team_img img {
	width: 100px;
	height: 100px;
	transform: translateY(0%);
	border: 2px solid #ededed;
	border-radius: 50%;
	overflow: hidden;
}

.team_social {
	padding-top: 30px;
}

.team_social span i {
	color: #000757;
	border: 1px solid #000757;
	padding: 10px 10px;
	border-radius: 50%;
	background-color: transparent;
	transition: all .3s linear;
	margin-left: 5px;
}

.team_social span i:hover{
	background: #0083ff;
	color: #fff;
	border: 0;
}

.team_text{}

.team_text h5 {
	color: #000757;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 30px;
}

.team_text span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #666;
	text-transform: uppercase;
}

.team_text p {
	font-size: 16px;
	color: #666;
	padding-top: 30px;
	padding-bottom: 30px;
}


/*=========================
10.TEAM AREA CSS END
===========================*/





/*=========================
11. FEEDBACK AREA CSS START
===========================*/
.feedback_area{
	background: #f5f8ff;
}

.client_review .section_title h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #000757;
	/* text-align: center; */
}

.client_review .section_title span {
	display: inline-block;
	width: 200px;
	height: 2px;
	background: #eaeaea;
	position: relative;
	text-align: center;
	/* left: 25%; */
}

.client_review .section_title span:before{
    left: 0;
    transform: translate(0%,-50%)
}

.single_client {
	position: relative;
    padding: 15px 0;
}

.review_content {
	background: #fff;
	padding: 20px 20px 20px 77px;
	width: calc(100% - 50px);
	margin-left: auto;
    border: 1px solid #f1f1f1;
}

.client_img {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border: 2px solid #ededed;
	border-radius: 50%;
	overflow: hidden;
}

.client_img img{
    width: 100%;
}

.review_content p{
    font-size: 14px;
    color: #666;
}

.review_content h5{
    font-size: 14px;
    color: #000e57;
    text-transform: uppercase;
}

.review_content span{
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
}

.review_slide{
	position: relative;
}

.review_slide .slick-dots{
	text-align: center;
    position: relative;
    z-index: 99999999;
}

.review_slide .slick-dots li{
	display: inline-block;
}

.review_slide .slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #000757;
	margin: 0 5px;
	border: 0;
	transition: all .3s linear;
}

.review_slide .slick-dots li.slick-active button {
	background: #0083ff;
	width: 20px;
	height: 20px;
}


/*COLLAPS PART START*/

.single_faq{
	margin-top: 30px;
}

.faq_header {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.faq_header button{
	width: 70px;
	height: 70px;
	background-color: transparent;
	border: 1px solid #000757;
	position: relative;
}

.faq_header button span {
	display: inline-block;
	background: #000757;
}

.faq_header button span:nth-of-type(1){
	width: 16px;
	height: 5px;
}

.faq_header button span:nth-of-type(2) {
	width: 5px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%,-50%);
	transition: all .3s linear;
}

.faq_header button.active span:nth-of-type(2){
	height: 16px;
}

.faq_header h4 {
	margin-bottom: 0;
	text-transform: uppercase;
	color: #000757;
	border: 1px solid #000757;
	font-size: 18px;
	line-height: 68px;
	margin-left: 30px;
	padding-left: 20px;
	width: 82%;
}

.faq-bdy {
	width: 81.5%;
	border: 1px solid #000757;
	padding: 20px;
	margin-left: auto;
	margin-top: 30px;
}


/*=========================
11. FEEDBACK AREA CSS END
===========================*/





/*=========================
12.PRICING AREA CSS START
===========================*/

.single_pricing {
	position: relative;
	border: 1px solid #f1f1f1;
	transition: all .3s linear;
}

.single_pricing:hover{
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2)
}

.pric_text {
	background: #f5f8ff;
	position: relative;
	text-align: center;
	/* padding-top: 0px; */
	/* padding-bottom: 0px; */
}

.pric_text h4 {
	font-size: 24px;
	color: #000757;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 90px;
}

.pric_num {
	position: absolute;
	background: #000757;
	border: 2px solid #eaeaea;
	border-radius: 50%;
	padding: 40px 10px;
	top: 50%;
	left: 25%;
	/* transform: translateY(-5%); */
	transition: all .3s linear;
}

.single_pricing:hover .pric_num{
	background: #0083ff;
}

.pric_num span {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.pric_content {
	padding-top: 80px;
	text-align: center;
}

.pric_content ul li {
	/* background: red; */
	/* margin: 7px 0; */
	font-size: 14px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 400;
	color: #666;
	padding: 7px 0;
}

.pric_content ul li:nth-of-type(1){
	background: #f5f8ff;
}

.pric_content ul li:nth-of-type(3){
	background: #f5f8ff;
}

.pric_content ul li:nth-of-type(5){
	background: #f5f8ff;
}

.pricing_btn {
	background: #fff;
	padding: 15px 25px;
	color: #000757;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #000757;
	/* margin-top: -10px; */
	margin-left: 23%;
	transition: all .3s linear;
	transform: translateY(50%);
}

.single_pricing:hover .pricing_btn{
	background: #0083ff;
	border: 0;
}


/*=========================
12.PRICING AREA CSS END
===========================*/




/*=========================
13.MESSAGE AREA CSS START
===========================*/

.message_area{}
.message_cover{}
.message_overlay{
    background: rgba(0, 7, 87, 0.6);
    padding: 80px 0;
    padding-bottom: 85px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.message_area .section_title h2{
    color: white;
}

.mes_wrap {
	padding-top: 30px;
}

.message_input{
	position: relative;
	
}

.message_input input {
	width: 100%;
	display: block;
	padding: 15px;
	border: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	margin-bottom: 100px;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

mess_btn{
	
}

.message_btn {
	background: #0083ff;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s linear;
/*
	 position: absolute; 
	top: -2%;
	left: 12px;
*/
}


/*=========================
13.MESSAGE AREA CSS END
===========================*/




/*=========================
14.BLOG AREA CSS START
===========================*/

.single_blog {
	border: 1px solid #f1f1f1;
	transition: all .3s linear;
}

.single_blog:hover{
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, .2);
}

.blog_info {
	padding-top: 30px;
	padding-left: 30px;
}

.blog_info span {
	margin-right: 30px;
	/* margin-top: 20px; */
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #666;
/*	padding-left: 30px;*/
}

.blog_info span i {
	padding-right: 10px;
}

.blog_text {
	padding-top: 30px;
}

.blog_text {
	padding-top: 30px;
	padding-left: 30px;
}

.blog_text h5 {
	font-size: 18px;
	text-transform: uppercase;
	color: #000757;
}

.blog_text p {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	padding-top: 15px;
}

.blog_btn {
	background: #0083ff;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s linear;
	margin-top: 10px;
	margin-bottom: 30px;
}

.blog_btn:hover {
	color: #fff;
}




/*=========================
14.BLOG AREA CSS END
===========================*/




/*=========================
15.FINANCIAL AREA CSS START
===========================*/


.fina .section_title h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #000757;
/*	text-align: center;*/
}

.financial_area{
	background: #f5f8ff;
}

.financial_text p {
	font-size: 14px;
	color: #666;
	padding-top: 30px;
}


.financial_btn {
	background: #0083ff;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s linear;
	/* margin-top: 10px; */
	/* margin-bottom: 30px; */
}

.financial_btn:hover {
	color: #fff;
}


/*=========================
15.FINANCIAL AREA CSS END
===========================*/



/*=========================
16.FOOTER AREA CSS START
===========================*/
.footer_area{
	background: #000757;
}

.footer_title h5 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.footer_title span:before{
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background: #fff;
    top: 50%:
}

.footer_top {
	border-bottom: 1px solid #fff;
	padding-bottom: 80px;
}

.foot_about {
	padding-top: 30px;
	padding-bottom: 15px;
	right: 48px;
}

.foot_about p {
	color: #fff;
	font-size: 14px;
}


.footer_input{
 position: relative;
 
}

.footer_input input {
	width: 100%;
	display: block;
	border: 1px solid #fff;
	padding: 15px;
	background: #fff;
	border: 0;
	font-size: 12px;
	color: #666;
}

.footer_input button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	padding: 8px 4px;
	background: #0083ff;
	font-size: 14px;
	color: #fff;
	margin: 5px 5px;
}

.foot_ab_social {
	padding-top: 30px;
/*	padding-bottom: 30px;*/
}

.foot_ab_social span a {
	border: 1px solid #fff;
	padding: 5px 5px;
	border-radius: 50%;
	margin-left: 5px;
	color: #fff;
	background-color: transparent;
	font-size: 14px;
	transition: all .3s linear;
}

.foot_ab_social span a i {
	
}

.blogs_text {
	padding-top: 30px;
}

.foot_ab_social span a:hover{
	 background: #0083ff; 
	border: 0;
}

.blogs_text span {
	color: #fff;
}

.blogs_text span i {
	padding-right: 10px;
}

.blogs_text p {
	font-size: 14px;
	color: #fff;
}

.foot_link {
	padding-top: 15px;
}

.foot_link ul {
	display: inline-block;
}

.foot_link ul li a {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	font-family: 'Hind Siliguri', sans-serif;
	padding-top: 15px;
	transition: all .3s linear;
}

.flik_part {
	padding-top: 30px;
}

.flik_img {
	padding-bottom: 15px;
}

.copy_text {
	padding-top: 30px;
}

.copy_text span {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.copy_menu {
	padding-top: 30px;
}

.copy_menu ul {
	text-align: right;
}

.copy_menu ul li {
	display: inline-block;
}

.copy_menu ul li a {
	padding-left: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	transition: all .3s linear;
}



/*=========================
16.FOOTER AREA CSS END
===========================*/


/*=========================
 AREA CSS START
===========================*/
/*=========================
 AREA CSS END
===========================*/


/*=========================
 AREA CSS START
===========================*/
/*=========================
 AREA CSS END
===========================*/



/*=========================
 AREA CSS START
===========================*/
/*=========================
 AREA CSS END
===========================*/






























































